@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}
.scroll::-webkit-scrollbar {
  width: 6px !important;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgb(247, 247, 247);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(185, 185, 185);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(141, 141, 141);
}
.shadow {
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}
